<h1>Hi, <%= current_user.twitter_username %></h1>

<% if !current_user.kippt_authorized? %>
  <p>It looks like you haven't authorised us for use with your Kippt account yet.</p> 
  <p><%= link_to "Authorise Kippt", auth_kipt_path %></p>
  
<% else %>
  <p>
    The last time we synched your favourites to Kippt was: <strong><%= current_user.last_sync %></strong>. Syncing your favourites to the list <strong><%= current_user.current_kippt_list %></strong>
  </p>

  <p>
    <%= link_to "Change the list where my Kippt's get saved", change_list_path %>
  </p>
  
<% end %>

<p>
  <%= link_to "Stop this and delete my account please", delete_account_path %><br />
  <%= link_to "Sign out", "/signout" %>
</p>
